/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* MAIN-STYLING */
body {
	font-family: showcard gothic;
	line-height: 2em;
}
.clr {
	clear: both;
}
/* PADDING */
.py-1 {
	padding: 10px 0;
}
.py-2 {
	padding: 20px 0;
}
.py-3 {
	padding: 30px 0;
}

/* nav links */
a {
	color: #333;
	text-decoration: none;
}
h1,
h2,
h3 {
	/* top and bottom margin */
	padding-bottom: 20px;
}
p {
	margin: 10px 0;
}

.lheading {
	font-size: 40px;
	line-height: 1.2;
}
/* UTILITIES CLASSES */
.container {
	margin: auto;
	max-width: 1100px;
	/* overflow: auto; */
	padding: 0 20px;
}
.text-prime {
	color: #059fdc;
}

.lead {
	font-size: 18px;
}

.btn {
	font-family: showcard gothic;
	display: inline-block;
	font-size: 18px;
	color: #fff;
	background: #9f0f15;
	padding: 13px 20px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.btn:hover {
	background: #b2954c;
	color: black;
}
.btn-light {
	background: #9f0f15;
	color: white;
}

.text2 {
	color: #b2954c;
}
.logo {
	background: #9f0f15;
	padding: 20px;
	border-radius: 90px;
}
/* BG DARK FOR INFO SECTION */
.bg-dark {
	background: #333;
	color: #fff;
}
.bg-dark22 {
	background: #9f0f15;
	color: white;
}
.bg-light {
	background: white;
	color: #333;
}
.bg-primary {
	background: #333;
	color: #059fdc;
}
/* navbar */
#navbar {
	background: #616161;
	color: white;
	overflow: auto;
	position: sticky;
}
#navbar a {
	color: #fff;
}
#navbar .logo {
	float: left;
	padding-top: 20px;
}

#navbar ul {
	list-style: none;
	float: right;
}

#navbar ul li {
	float: left;
}
#navbar ul li a {
	display: block;
	padding: 20px;
	text-align: center;
}
#navbar ul li a:hover,
#navbar ul li a.current {
	background: #b49144;
	color: #9f0f15;
}

#showcase {
	background: url('./07b101818dcd78e0108570640e32fc6d.jpg') no-repeat center center/cover;
	height: 600px;
	/* opacity:5; */
}
#showcase .content {
	color: white;
	text-align: center;
	padding-top: 180px;
	/* line-height: 2em; */
}
#showcase .content h1 {
	font-size: 40px;
	line-height: 2em;
}
#showcase .content p {
	padding-bottom: 20px;
	line-height: 1.7em;
}

/* HOME-INFO */
#homeinfo {
	height: 450px;
}
#homeinfo .infoimg {
	float: left;
	width: 50%;
	background: url('../6064805-iron-man-wallpaper-hd.jpg') no-repeat center center/cover;
	/* FOR IMG TAKE UP WHOLE IMAGE */
	min-height: 100%;
}
#homeinfo .infocontent {
	float: right;
	width: 50%;
	height: 100%;
	text-align: center;
	padding: 50px 30px;
	overflow: hidden;
}
#homeinfo .infocontent p {
	padding-bottom: 30px;
}
/* FEATURES */
.box {
	float: left;
	width: 33.3%;
	padding: 50px;
	text-align: center;
}
.box i {
	margin-bottom: 10px;
}
#main-footer {
	text-align: center;
	background: #444;
	color: white;
	padding: 20px;
}
/* ABOUT-INFO */
#aboutinfo .inforight {
	/* margin-top:20px; */
	float: right;
	width: 50%;
	min-height: 100%;
}

#aboutinfo .inforight img {
	/* img is inline element converted to block for set the image */
	display: block;
	border-radius: 45%;
	margin: auto;
	width: 60%;
}
#aboutinfo .infoleft {
	float: left;
	width: 50%;
	min-height: 100%;
}

/* TESTIMONIALS */
#testimonials {
	height: 100%;
	background: url('./07b101818dcd78e0108570640e32fc6d.jpg') no-repeat center center/cover;
	padding-top: 100px;
}
#testimonials h2 {
	color: #fff;
	text-align: center;
	padding-bottom: 40px;
}
#testimonials p {
	padding: 30px 0;
}
#testimonials .testimonial {
	padding: 20px;
	margin-bottom: 40px;
	border-radius: 6px;
	opacity: 0.8;
}
#testimonials .testimonial img {
	width: 100px;
	float: left;
	margin-right: 20px;

	border-radius: 50%;
}

/* CONTACT FORM */
#contactform .formgrp {
	margin-bottom: 20px;
}

#contactform label {
	display: block;
	margin-bottom: 5px;
}

#contactform input,
#contactform textarea {
	width: 65%;
	padding: 9px;
	border: 2px #059fdc solid;
}
#contactform input,
#contactform textarea {
	outline: none;
}

#contactform textarea {
	height: 200px;
}
